Repository AlexInABox/grow-green, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, Database, Fonts, Icons, Prefabs, Scenes, Scripts, Shaders, Sounds, Textures, Themes

.github/labeler.yml:

GitHub:
- changed-files:
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Database: # Add the 'Database' label
- changed-files:
  - any-glob-to-any-file: Database/** # Any modifications to the Database itself

Fonts: # Add the 'Fonts' label
- changed-files:
  - any-glob-to-any-file: Fonts/** # Any modifications to Fonts

Icons: # Add the 'Icons' label
- changed-files:
  - any-glob-to-any-file: Icons/** # Any modifications to Icons

Prefabs: # Add the 'Prefabs' label
- changed-files:
  - any-glob-to-any-file: Prefabs/** # Any modifications to Prefabs

Scenes: # Add the 'Scenes' label
- changed-files:
  - any-glob-to-any-file: Scenes/** # Any modifications to Scenes

Scripts: # Add the 'Scripts' label
- changed-files:
  - any-glob-to-any-file: Scripts/** # Any modifications to Scripts

Shaders: # Add the 'Shaders' label
- changed-files:
  - any-glob-to-any-file: Shaders/** # Any modifications to Shaders

Sounds: # Add the 'Sounds' label
- changed-files:
  - any-glob-to-any-file: Sounds/** # Any modifications to Sounds

Textures: # Add the 'Textures' label
- changed-files:
  - any-glob-to-any-file: Textures/** # Any modifications to Textures

Themes: # Add the 'Themes' label
- changed-files:
  - any-glob-to-any-file: Themes/** # Any modifications to Themes

#TODO: add labels for each godot scene specifically

add coins for fully grown plants every three hours
  Scripts/Plant.cs
Labels: Scripts

Bugfixing auf Laptop mit einem Monitor macht kein Spaß
  .godot/uid_cache.bin
  Prefabs/SnakeBody.tscn
  Prefabs/SnakeFood.tscn
  Prefabs/SnakeHead.tscn
  Prefabs/SnakeTail.tscn
  Scenes/MinigameSzene.tscn
  Scenes/Worm/WormGame.tscn
  Scripts/Worm/SnakeGame.cs
  Textures/Minigames/Snake/pixil-frame-010.png
  Textures/Minigames/Snake/pixil-frame-010.png.import
  Textures/Minigames/Snake/pixil-frame-05.png
  Textures/Minigames/Snake/pixil-frame-05.png.import
  Textures/Minigames/Snake/pixil-frame-06.png
  Textures/Minigames/Snake/pixil-frame-06.png.import
  Textures/Minigames/Snake/pixil-frame-08.png
  Textures/Minigames/Snake/pixil-frame-08.png.import
  Textures/Minigames/Snake/pixil-frame-09.png
  Textures/Minigames/Snake/pixil-frame-09.png.import
Labels: Prefabs, Scenes, Scripts, Textures

Snake is fully functional and added to the minigame menu. Updatet flappy plant menu.
  .godot/uid_cache.bin
  Prefabs/Snake/SnakeBottom.tscn
  Prefabs/Snake/SnakeHead.tscn
  Prefabs/Snake/SnakeMid.tscn
  Prefabs/endSnakeGame.tscn
  Scenes/FlappyPlant/FPMainMenu.tscn
  Scenes/MinigameSzene.tscn
  Scenes/Worm/WormGame.tscn
  Scripts/FlappyPlant/AgainButton.cs
  Scripts/FlappyPlant/EndFpGame.cs
  Scripts/FlappyPlant/FpMainMenu.cs
  Scripts/FlappyPlant/MenuButton.cs
  Scripts/Worm/SnakeGame.cs
  Textures/Minigames/Snake/WormIcon.png
  Textures/Minigames/Snake/WormIcon.png.import
Labels: Prefabs, Scenes, Scripts, Textures

Added flappy plant highscore label to fpmainmenu
  Scenes/FlappyPlant/FPMainMenu.tscn
  Scripts/FlappyPlant/FlappyScript.cs
  Scripts/FlappyPlant/FpMainMenu.cs
Labels: Scenes, Scripts

Added music & sound effects, small balance change
  Scripts/Worm/SnakeGame.cs
Labels: Scripts

Added bg music to worm
  Scripts/AudioPlayer.cs
  Scripts/Worm/SnakeGame.cs
Labels: Scripts

Meiner
  Scripts/FlappyPlant/EndFpGame.cs
Labels: Scripts

Fixed death logic to work with rpc
  Prefabs/endSnakeGame.tscn
  Scenes/DeathScene.tscn
  Scripts/FlappyPlant/FlappyScript.cs
  Scripts/Worm/SnakeGame.cs
Labels: Prefabs, Scenes, Scripts

fix: first tutorial card was ChangeLayout instead of CharacterSelection
  Scenes/Tutorial/Tutorial.tscn
Labels: Scenes

fix: increased header font size for better readability
  Scenes/Tutorial/Tutorial.tscn
Labels: Scenes

uid stuff
  .godot/uid_cache.bin
  SpriteFrames/buy.tres
  SpriteFrames/character.tres
  SpriteFrames/drag.tres
  SpriteFrames/memory.tres
  SpriteFrames/packs.tres
  SpriteFrames/pots.tres
  SpriteFrames/water.tres
Labels: none

Memory Bug Fixes auf flink
  Scripts/Memory/MemoryCardScript.cs
  Scripts/Memory/MemoryGame.cs
Labels: Scripts

fix: first tutorial now starts automatically
  .godot/uid_cache.bin
  Scenes/Tutorial/Tutorial.tscn
  Scripts/Tutorial/TutorialSceneManager.cs
  SpriteFrames/buy.tres
  SpriteFrames/character.tres
  SpriteFrames/drag.tres
  SpriteFrames/memory.tres
  SpriteFrames/packs.tres
  SpriteFrames/pots.tres
  SpriteFrames/water.tres
Labels: Scenes, Scripts

feat: updated tutorial with new features explained (all translated to german)
  .godot/uid_cache.bin
  GIFs/worm.gif
  Scenes/Tutorial/Tutorial.tscn
  Scripts/Tutorial/TutorialSceneManager.cs
  SpriteFrames/character.tres
  SpriteFrames/flappyplant.tres
  SpriteFrames/memory.tres
  SpriteFrames/packs.tres
  SpriteFrames/soundsettings.tres
  SpriteFrames/worm.tres
  SpriteSheets/packs.png
  SpriteSheets/worm.png
Labels: Scenes, Scripts

update godot version
  .github/workflows/godot-mono-debug.yml
  .github/workflows/godot-mono-release.yml
  .github/workflows/godot-test-build.yml
Labels: GitHub

debug
  .github/workflows/godot-test-build.yml
Labels: GitHub

Update godot-test-build.yml
  .github/workflows/godot-test-build.yml
Labels: GitHub

Update godot-test-build.yml
  .github/workflows/godot-test-build.yml
Labels: GitHub
