Repository AlexInABox/grow-green, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, Database, Fonts, Icons, Prefabs, Scenes, Scripts, Shaders, Sounds, Textures, Themes

.github/labeler.yml:

GitHub:
- changed-files:
  - any-glob-to-any-file: .github/** # Any modifications to github related files

Database: # Add the 'Database' label
- changed-files:
  - any-glob-to-any-file: Database/** # Any modifications to the Database itself

Fonts: # Add the 'Fonts' label
- changed-files:
  - any-glob-to-any-file: Fonts/** # Any modifications to Fonts

Icons: # Add the 'Icons' label
- changed-files:
  - any-glob-to-any-file: Icons/** # Any modifications to Icons

Prefabs: # Add the 'Prefabs' label
- changed-files:
  - any-glob-to-any-file: Prefabs/** # Any modifications to Prefabs

Scenes: # Add the 'Scenes' label
- changed-files:
  - any-glob-to-any-file: Scenes/** # Any modifications to Scenes

Scripts: # Add the 'Scripts' label
- changed-files:
  - any-glob-to-any-file: Scripts/** # Any modifications to Scripts

Shaders: # Add the 'Shaders' label
- changed-files:
  - any-glob-to-any-file: Shaders/** # Any modifications to Shaders

Sounds: # Add the 'Sounds' label
- changed-files:
  - any-glob-to-any-file: Sounds/** # Any modifications to Sounds

Textures: # Add the 'Textures' label
- changed-files:
  - any-glob-to-any-file: Textures/** # Any modifications to Textures

Themes: # Add the 'Themes' label
- changed-files:
  - any-glob-to-any-file: Themes/** # Any modifications to Themes

#TODO: add labels for each godot scene specifically

added ability to move plants between main and greenhouse
  Scenes/GreenhouseScene.tscn
  Scenes/MainSzene.tscn
  Scripts/PlantButton.cs
  Scripts/SceneManager.cs
Labels: Scenes, Scripts

chore: unified all customPotSkins into using the same apply logic
  GrowGreen.csproj
  Prefabs/custom_pot_wrapper.tscn
  Scenes/GreenhouseScene.tscn
  Scenes/MainSzene.tscn
  Scripts/DatabaseWrapper.cs
  Scripts/MainScene/CustomPotButton.cs
  Scripts/MainScene/CustomPotChanger.cs
  Scripts/MainScene/CustomPotSpawner.cs
  Scripts/MainScene/PotChanger.cs
  Scripts/PlantButton.cs
  Scripts/PlantWrapper.cs
  Scripts/SceneManager.cs
Labels: Prefabs, Scenes, Scripts

Shop Wrapper Revised
  .godot/uid_cache.bin
  Prefabs/shop_wrapper.tscn
  Scripts/Shop/EasyPlantsContainercs.cs
Labels: Prefabs, Scripts

Flappy Plant balance changes
  .godot/uid_cache.bin
  Prefabs/pack_wrapper.tscn
  Scenes/FlappyPlant/Obstacle.tscn
  Scripts/FlappyPlant/FlappyPlant.cs
Labels: Prefabs, Scenes, Scripts

moved the panel leaver button to also be removed with the panel itself.
  .godot/uid_cache.bin
  README.md
  Scenes/GreenhouseScene.tscn
  Scenes/MainSzene.tscn
  Scripts/MainScene/PanelLeaver.cs
Labels: Scenes, Scripts

Flappy Plant added textures + balance changes
  .godot/uid_cache.bin
  Scenes/FlappyPlant/FPGame.tscn
  Scenes/FlappyPlant/Obstacle.tscn
  Scenes/FlappyPlant/ObstacleTop.tscn
  Scripts/FlappyPlant/BackgroundScroll.cs
  Scripts/FlappyPlant/FlappyPlant.cs
  Scripts/FlappyPlant/Obstacle.cs
  Scripts/FlappyPlant/ObstacleSpawner.cs
  Textures/Minigames/Flappy Plant/bee1.png
  Textures/Minigames/Flappy Plant/bee1.png.import
  Textures/Minigames/Flappy Plant/bee2.png
  Textures/Minigames/Flappy Plant/bee2.png.import
  Textures/Minigames/Flappy Plant/fp_background.png
  Textures/Minigames/Flappy Plant/fp_background.png.import
  Textures/Minigames/Flappy Plant/pixil-frame-0_1.png
  Textures/Minigames/Flappy Plant/pixil-frame-0_1.png.import
  Textures/Minigames/Flappy Plant/pixil-frame-0_2.png
  Textures/Minigames/Flappy Plant/pixil-frame-0_2.png.import
Labels: Scenes, Scripts, Textures

added the flappyPlant highscore to the database
  .godot/uid_cache.bin
  Database/rebuildSaveDB.sql
  Scripts/DatabaseWrapper.cs
  Scripts/Player.cs
  Scripts/SceneManager.cs
Labels: Database, Scripts

fix the way scripts get their current scene
  GrowGreen.csproj
  Scripts/GreenhouseButton.cs
  Scripts/GreenhouseScene.cs
  Scripts/HouseButton.cs
  Scripts/LeaveGreenhouseButton.cs
  Scripts/LoadPictures.cs
  Scripts/MainScene/BuyGreenhouse.cs
  Scripts/MainScene/CustomPotButton.cs
  Scripts/MainScene/CustomPotSpawner.cs
  Scripts/MainScene/LeaveButton.cs
  Scripts/MainScene/MinigameButton.cs
  Scripts/MainScene/PotSkins.cs
  Scripts/MainScene/QuitGreenhousePopup.cs
  Scripts/MainScene/ScamerGreenhouseButton.cs
  Scripts/MainSzene.cs
  Scripts/Memory/LeaveButton.cs
  Scripts/Memory/MemoryGame.cs
  Scripts/PackOpening.cs
  Scripts/PackSpawner.cs
  Scripts/PlantButton.cs
  Scripts/PlantPack/LeaveButton.cs
  Scripts/PlantPack/PotPackOpening.cs
  Scripts/PlantWrapper.cs
  Scripts/PotPackSpawner.cs
  Scripts/SceneManager.cs
  Scripts/Shop/CoinDisplayWrapper.cs
  Scripts/Shop/EasyPlantsContainercs.cs
  Scripts/Shop/HardPlantsContainer.cs
  Scripts/Shop/LeaveButton.cs
  Scripts/Shop/MediumPlantsContainer.cs
  Scripts/Shop/ShopPlantButton.cs
  Scripts/ShopButton.cs
Labels: Scripts

added auto updating rich presence!
  .godot/uid_cache.bin
  Scripts/DiscordRPC/Testing.cs
  project.godot
Labels: Scripts

New: ShopButtonPopup (popup doesnt close after buy)
  .godot/uid_cache.bin
  Prefabs/shopBuyConfirmation_popup.tscn
  Prefabs/shop_wrapper.tscn
  Scripts/SceneManager.cs
  Scripts/Shop/EasyPlantsContainercs.cs
  Scripts/Shop/ShopConfirmationPopup/Cancel.cs
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
  Scripts/Shop/ShopConfirmationPopup/Warning.cs
  Scripts/Shop/ShopPlantButton.cs
Labels: Prefabs, Scripts

Scrollbar Bug Fixed
  Scenes/ShopSzene.tscn
  Scripts/Shop/EasyPlantsContainercs.cs
  Scripts/Shop/HardPlantsContainer.cs
  Scripts/Shop/MediumPlantsContainer.cs
Labels: Scenes, Scripts

Popup Closing + no money Text
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
Labels: Scripts

Privatized Function + Deleted Scene Manager in Cancel.cs
  Scripts/SceneManager.cs
  Scripts/Shop/ShopConfirmationPopup/Cancel.cs
  Scripts/Shop/ShopPlantButton.cs
Labels: Scripts

reworked minigames menu
  .godot/uid_cache.bin
  Scenes/FlappyPlant/FPMainMenu.tscn
  Scenes/MinigameSzene.tscn
  Scripts/FlappyPlant/ObstacleSpawner.cs
  Scripts/MinigameScene/FlappyPlantButton.cs
  Textures/Backgrounds/minigames_new.png
  Textures/Backgrounds/minigames_new.png.import
  Textures/Minigames/Flappy Plant/flappy_plant.png
  Textures/Minigames/Flappy Plant/flappy_plant.png.import
Labels: Scenes, Scripts, Textures

Shop Popup Revision + Cool Alien Names
  .godot/uid_cache.bin
  Scenes/MainSzene.tscn
  Scenes/titleScreen.tscn
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
Labels: Scenes, Scripts

feat: every background music added (exept Worm), Debugger hates it (needs revision why)
  Scenes/FlappyPlant/FPGame.tscn
  Scenes/FlappyPlant/FPMainMenu.tscn
  Scenes/MemorySzeneMedium.tscn
  Scenes/MemorySzeneVeryHard.tscn
  Scenes/MinigameSzene.tscn
  Scenes/PackOpeningMinigame.tscn
  Scenes/PotPackOpeningMinigame.tscn
  Scenes/ShopSzene.tscn
  Scripts/FlappyPlant/FlappyScript.cs
  Scripts/FlappyPlant/FpMainMenu.cs
  Scripts/MinigameScene/MinigameSzene.cs
  Scripts/PackSpawner.cs
  Scripts/SceneManager.cs
Labels: Scenes, Scripts

feat: background music fully implemented (scene change could be optimized but no priority)
  Scenes/MainSzene.tscn
  Scenes/credits.tscn
  Scenes/titleScreen.tscn
  Scripts/Credits.cs
  Scripts/FlappyPlant/FlappyScript.cs
  Scripts/GreenhouseScene.cs
  Scripts/MainSzene.cs
  Scripts/Memory/MemoryGame.cs
  Scripts/MinigameScene/MinigameSzene.cs
  Scripts/PackSpawner.cs
  Scripts/PotPackSpawner.cs
  Scripts/SceneManager.cs
  Scripts/TitleSceneManager.cs
Labels: Scenes, Scripts

fix: made sounds global (debugger hates me)
  .godot/uid_cache.bin
  .vscode/settings.json
  Prefabs/endFpGame.tscn
  Scenes/FlappyPlant/FPGame.tscn
  Scenes/FlappyPlant/FPMainMenu.tscn
  Scenes/GreenhouseScene.tscn
  Scenes/MemorySzeneEasy.tscn
  Scenes/MinigameSzene.tscn
  Scenes/PackOpeningMinigame.tscn
  Scenes/PotPackOpeningMinigame.tscn
  Scenes/ShopSzene.tscn
  Scenes/credits.tscn
  Scenes/titleScreen.tscn
  Scripts/AlienButton.cs
  Scripts/AudioPlayer.cs
  Scripts/ContinueGameButton.cs
  Scripts/CreateGameButton.cs
  Scripts/Credits.cs
  Scripts/CreditsButton.cs
  Scripts/FlappyPlant/EndFpGame.cs
  Scripts/FlappyPlant/FlappyScript.cs
  Scripts/FlappyPlant/FpMainMenu.cs
  Scripts/GreenhouseScene.cs
  Scripts/MainSzene.cs
  Scripts/Memory/MemoryGame.cs
  Scripts/PackSpawner.cs
  Scripts/PotPackSpawner.cs
  Scripts/PowerButton.cs
  Scripts/Shop/ShopSzene.cs
  Scripts/SnoopyAlien.cs
  Scripts/SoundPlayer.cs
  Scripts/TitleSceneManager.cs
  Sounds/Effects/coins/Buy.mp3
  Sounds/Effects/coins/Buy.mp3.import
  Sounds/Effects/stone-creek-43557.mp3
  Sounds/Effects/stone-creek-43557.mp3.import
  project.godot
Labels: Prefabs, Scenes, Scripts, Sounds

fix: some minor bugs fixed (major bug needs meeting with alex)
  Scenes/MainSzene.tscn
  Scenes/titleScreen.tscn
  Scripts/AlienButton.cs
  Scripts/SnoopyAlien.cs
Labels: Scenes, Scripts

fix: All debug problems fixed and game running just like on main
  Scripts/MainScene/CustomPotButton.cs
  Scripts/MainScene/CustomPotSpawner.cs
  Scripts/MainScene/PotSkins.cs
  Scripts/PlantButton.cs
  Scripts/PlantWrapper.cs
  Scripts/SceneManager.cs
Labels: Scripts

feat: added sounds to title-, main-, shop- and greenhouse scene
  .godot/uid_cache.bin
  Scripts/GreenhouseButton.cs
  Scripts/LeaveGreenhouseButton.cs
  Scripts/MainScene/BuyGreenhouse.cs
  Scripts/MainScene/CustomPotButton.cs
  Scripts/MainScene/LeaveButton.cs
  Scripts/MainScene/MinigameButton.cs
  Scripts/MainScene/PotSkins.cs
  Scripts/MainScene/QuitGreenhousePopup.cs
  Scripts/MainScene/ScamerGreenhouseButton.cs
  Scripts/OverwriteSaveConfirmationPopup/CancelButton.cs
  Scripts/OverwriteSaveConfirmationPopup/ConfirmButton.cs
  Scripts/Plant.cs
  Scripts/PlantButton.cs
  Scripts/PowerButton.cs
  Scripts/Shop/LeaveButton.cs
  Scripts/Shop/ShopConfirmationPopup/Cancel.cs
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
  Scripts/Shop/ShopPlantButton.cs
  Scripts/ShopButton.cs
  Scripts/SoundPlayer.cs
  Sounds/Effects/Buttons/Die.mp3
  Sounds/Effects/Buttons/Die.mp3.import
  Sounds/Effects/Buttons/Water.mp3
  Sounds/Effects/Buttons/Water.mp3.import
  Sounds/Effects/Buttons/Water2.mp3
  Sounds/Effects/Buttons/Water2.mp3.import
  Sounds/Effects/shop/checkout_plant_bought.mp3
  Sounds/Effects/shop/checkout_plant_bought.mp3.import
Labels: Scripts, Sounds

feat: finished adding audio to all current scenes (worm is missing)
  .godot/uid_cache.bin
  Scripts/BackToTitleMenuButton.cs
  Scripts/FlappyPlant/AgainButton.cs
  Scripts/FlappyPlant/Collision.cs
  Scripts/FlappyPlant/FlappyPlant.cs
  Scripts/FlappyPlant/MenuButton.cs
  Scripts/FlappyPlant/StartGameButton.cs
  Scripts/Memory/EasyButton.cs
  Scripts/Memory/HardButton.cs
  Scripts/Memory/LeaveButton.cs
  Scripts/Memory/MediumButton.cs
  Scripts/Memory/MemoryCardScript.cs
  Scripts/Memory/MemoryGame.cs
  Scripts/MinigameScene/LeaveButton.cs
  Scripts/MinigameScene/MemoryButton.cs
  Scripts/MinigameScene/PlantPackButton.cs
  Scripts/MinigameScene/PotPackButton.cs
  Scripts/PackOpening.cs
  Scripts/PackSpawner.cs
  Scripts/PlantPack/LeaveButton.cs
  Scripts/PlantPack/PotPackOpening.cs
  Scripts/PotPackSpawner.cs
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
  Scripts/SnoopyAlien.cs
  Scripts/SoundPlayer.cs
  Sounds/Effects/Buttons/Buy.mp3
  Sounds/Effects/Buttons/Buy.mp3.import
  Sounds/Effects/Buttons/Flip.mp3
  Sounds/Effects/Buttons/Flip.mp3.import
  Sounds/Effects/Buttons/Pack.MP3
  Sounds/Effects/Buttons/Pack.MP3.import
Labels: Scripts, Sounds

bye bye .vscode
  .gitignore
Labels: none

bye bye .vscode
  .gitignore
  .vscode/settings.json
Labels: none

rename Pack.MP3 to Pack.mp3
  Sounds/Effects/Buttons/Pack.MP3.import
  Sounds/Effects/Buttons/Pack.mp3
  Sounds/Effects/Buttons/Pack.mp3.import
Labels: Sounds

Update Scripts/AudioPlayer.cs
  Scripts/AudioPlayer.cs
Labels: Scripts

feat: new sprite sheets for gifs + new sprite frames for using the gifs in godot
  .godot/uid_cache.bin
  SpriteFrames/buy.tres
  SpriteFrames/character.tres
  SpriteFrames/drag.tres
  SpriteFrames/memory.tres
  SpriteFrames/packs.tres
  SpriteFrames/pots.tres
  SpriteFrames/water.tres
  SpriteSheets/drag.png
  SpriteSheets/packs.png
  SpriteSheets/water.png
Labels: none

feat: tutorial button in title scene with button script
  Scenes/titleScreen.tscn
  Scripts/Tutorial/TutorialButton.cs
Labels: Scenes, Scripts

feat: prefab for tutorial popup + popup method in titlescenemanager
  Prefabs/tutorial_popup.tscn
  Scripts/TitleSceneManager.cs
Labels: Prefabs, Scripts

three little silly buttons
  Scenes/titleScreen.tscn
Labels: Scenes

added settingsButtonScript
  Scenes/titleScreen.tscn
  Scripts/TitleScene/SettingsButton.cs
Labels: Scenes, Scripts

feat: added audio Menu
  .godot/uid_cache.bin
  Prefabs/audioScaler.tscn
  Scripts/AudioPlayer.cs
  Scripts/AudioScaler/LeaveButton.cs
  Scripts/AudioScaler/MusicSlider.cs
  Scripts/AudioScaler/SoundSlider.cs
  Scripts/SoundPlayer.cs
Labels: Prefabs, Scripts

slettings button script
  Scripts/TitleScene/SettingsButton.cs
Labels: Scripts

feat: tutorial is now a standalone scene with its own scene manager, merge with settings menu branch for title menu scene
  Scenes/Tutorial/Tutorial.tscn
  Scenes/titleScreen.tscn
  Scripts/TitleSceneManager.cs
  Scripts/Tutorial/LeaveTutorialButton.cs
  Scripts/Tutorial/TutorialSceneManager.cs
Labels: Scenes, Scripts

added SettingsManager.cs for global access to the settings by pressing "escape"
  .godot/uid_cache.bin
  Scripts/AudioScaler/LeaveButton.cs
  Scripts/Global/SettingsManager.cs
  Scripts/TitleScene/SettingsButton.cs
  project.godot
Labels: Scripts

moved discordRPC script to globals folder
  Scripts/Global/DiscordRPC/Testing.cs
  project.godot
Labels: Scripts

fix namespace
  Scripts/Global/DiscordRPC/Testing.cs
Labels: Scripts

feat: tutorial scene visuals done (without logic)
  .godot/uid_cache.bin
  Scenes/Tutorial/Tutorial.tscn
  Textures/Buttons/UI_Flat_IconArrow01c_mirror.png
Labels: Scenes, Textures

feat: tutorial scene done with previous and next buttons, logic for showing the tutorial popups and playing menu music
  .godot/uid_cache.bin
  GrowGreen.csproj
  Scenes/Tutorial/Tutorial.tscn
  Scripts/Tutorial/NextButton.cs
  Scripts/Tutorial/PreviousButton.cs
  Scripts/Tutorial/TutorialSceneManager.cs
Labels: Scenes, Scripts

rename
  Scripts/Global/DiscordRPC/BackgroundLogic.cs
  project.godot
Labels: Scripts
