Repository AlexInABox/grow-green, pull requests merged in 2025-02, with the labels that each got.

#256 chore: fix shop scrollbar + buy confirmation
  .godot/uid_cache.bin
  Prefabs/shopBuyConfirmation_popup.tscn
  Prefabs/shop_wrapper.tscn
  Scenes/ShopSzene.tscn
  Scripts/SceneManager.cs
  Scripts/Shop/EasyPlantsContainercs.cs
  Scripts/Shop/HardPlantsContainer.cs
  Scripts/Shop/MediumPlantsContainer.cs
  Scripts/Shop/ShopConfirmationPopup/Cancel.cs
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
  Scripts/Shop/ShopConfirmationPopup/Warning.cs
  Scripts/Shop/ShopPlantButton.cs
Labels: Prefabs, Scenes, Scripts

#260 feat: New Characters Added
  .godot/uid_cache.bin
  Scenes/MainSzene.tscn
  Scenes/titleScreen.tscn
  Scripts/CharacterSelection.cs
  Scripts/LoadPictures.cs
  Textures/Aliens/10_alien.png
  Textures/Aliens/10_alien.png.import
  Textures/Aliens/6_alien.png
  Textures/Aliens/6_alien.png.import
  Textures/Aliens/7_alien.png
  Textures/Aliens/7_alien.png.import
  Textures/Aliens/8_alien.png
  Textures/Aliens/8_alien.png.import
  Textures/Aliens/9_alien.png
  Textures/Aliens/9_alien.png.import
  Textures/Aliens/Paintings/10_left.jpg
  Textures/Aliens/Paintings/10_left.jpg.import
  Textures/Aliens/Paintings/10_middle.jpg
  Textures/Aliens/Paintings/10_middle.jpg.import
  Textures/Aliens/Paintings/10_right.jpg
  Textures/Aliens/Paintings/10_right.jpg.import
  Textures/Aliens/Paintings/6_left.jpg
  Textures/Aliens/Paintings/6_left.jpg.import
  Textures/Aliens/Paintings/6_middle.jpg
  Textures/Aliens/Paintings/6_middle.jpg.import
  Textures/Aliens/Paintings/6_right.jpg
  Textures/Aliens/Paintings/6_right.jpg.import
  Textures/Aliens/Paintings/7_left.jpg
  Textures/Aliens/Paintings/7_left.jpg.import
  Textures/Aliens/Paintings/7_middle.jpg
  Textures/Aliens/Paintings/7_middle.jpg.import
  Textures/Aliens/Paintings/7_right.jpg
  Textures/Aliens/Paintings/7_right.jpg.import
  Textures/Aliens/Paintings/8_left.png
  Textures/Aliens/Paintings/8_left.png.import
  Textures/Aliens/Paintings/8_middle.png
  Textures/Aliens/Paintings/8_middle.png.import
  Textures/Aliens/Paintings/8_right.png
  Textures/Aliens/Paintings/8_right.png.import
  Textures/Aliens/Paintings/9_left.jpg
  Textures/Aliens/Paintings/9_left.jpg.import
  Textures/Aliens/Paintings/9_middle.jpg
  Textures/Aliens/Paintings/9_middle.jpg.import
  Textures/Aliens/Paintings/9_right.jpg
  Textures/Aliens/Paintings/9_right.jpg.import
Labels: Scenes, Scripts, Textures

#262 feat: Shop Popup Revision + Cool Alien Names
  .godot/uid_cache.bin
  Scenes/MainSzene.tscn
  Scenes/titleScreen.tscn
  Scripts/Shop/ShopConfirmationPopup/ConfirmationPopup.cs
Labels: Scenes, Scripts

#264 feat: added settings menu
  .godot/uid_cache.bin
  Prefabs/audioScaler.tscn
  Scenes/titleScreen.tscn
  Scripts/AudioPlayer.cs
  Scripts/AudioScaler/LeaveButton.cs
  Scripts/AudioScaler/MusicSlider.cs
  Scripts/AudioScaler/SoundSlider.cs
  Scripts/Global/SettingsManager.cs
  Scripts/SoundPlayer.cs
  Scripts/TitleScene/SettingsButton.cs
  project.godot
Labels: Prefabs, Scenes, Scripts
